*{
  padding: 0;
  margin: 0; 
}
body{
  background-color: #000;
}
header{
  margin-top: 1%;
  margin-right: 8%;
  margin-left: 9%;
  display: flex;
  justify-content: space-between;
}
section{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* ---------- etiquetas ---------- */
a{
  text-decoration: none;
}
h1{
  display: none;
}
h2{
  color: #fff;
  text-align: center;
  margin-bottom: 2%;
}
p{
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 1%;
}

/* ---------- nav ---------- */
nav ul{
  margin-top: 2%;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  font-size: 1.2rem;
  color: #fff;
  padding-right: 2rem;
  text-transform: uppercase;
}
nav ul li a:hover{
  color: #bbb;
}

/* ---------- encabezado ---------- */
img.encabezado{
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* ---------- sinopsis ---------- */
article.sinopsis{
  width: 70%;
  margin-top: 3%;
  float: left;
}
article.sinopsis img{
  display: block;
  max-width: 90%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;

/* ---------- ficha tecnica---------- */
}
aside.datos{
  width: 20%;
  margin-top: 3%;
  float: right;
}
aside.datos p{
  margin-top: 6%;
}

/* ---------- footer ---------- */
footer{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a img{
  height: auto;
  width: 100%;
  max-width: 3rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media screen and (max-width: 576px){
.icon{
    margin-top: 5%;
    float: right;
    display: block;
}
section{
    max-width: 576px;
    width: 100%;
}
.principal{
    height: 350px;
    align-items: center;
}
h2{
    font-size: 1.3rem;
    padding-right: 20%;
}
.secundario{
    margin-top: 1%;
    display: block;
}
.secundario div{
    width: 100%;
}
.secundario div img{
    margin-bottom: 0.5%;
}
p{
    font-size: 1.3rem;
    padding: 2%;
}
footer{
    justify-content: space-around;
    height: 100px;
}
footer img{
    max-width: 4rem;
    padding-top: 0px;
    margin-right: 0px;
}
nav{
    width: 100%;
}
ul{
    display: none;
}
nav.responsive ul{
    display: block;
}
nav.responsive ul li{
    display: block;
    text-align: center;
    padding: 1rem;
}
}
