*{
  padding: 0;
  margin: 0; 
}
body{
  background-color: #000;
  max-width: 1300px;
}
section{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* ---------- etiquetas ---------- */
a{
  text-decoration: none;
}
h1{
  display: none;
}
h2{
  color: #fff;
  text-align: center;
  margin-bottom: 2%;
}
p{
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 1%;
}
/* ---------- header ---------- */
header{
  margin-top: 1%;
  margin-right: 8%;
  margin-left: 9%;
  display: flex;
  justify-content: space-between;
}
.icon{
  display: none;
}
nav ul{
  margin-top: 2%;
}
#home-item{
  display: none;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  font-size: 1.2rem;
  color: #fff;
  padding-right: 2rem;
  text-transform: uppercase;
}
nav ul li a:hover{
  color: #bbb;
}
/* ---------- home encabezado ---------- */
img.encabezado{
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* ---------- sinopsis ---------- */
article.sinopsis{
  width: 70%;
  margin-top: 3%;
  float: left;
}
article.sinopsis img{
  display: block;
  max-width: 90%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
/* ---------- ficha tecnica---------- */
}
aside.datos{
  width: 20%;
  margin-top: 3%;
  float: right;
}
aside.datos p{
  margin-top: 6%;
}
/* ---------- criticas ---------- */
.criticas p{
  margin-bottom: 2%;
}
.criticas img{
  display: block;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
/* ---------- episodios ---------- */
.episodios h2{
  margin: 3%;
}
.episodios .tabla{
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}
.episodios table{
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
}
.episodios tbody tr th{
}
/* ---------- personajes ---------- */
.personajes{
  text-align: center;
}
.personajes img{
  width: 300px;
  height: 169px;
}
.personaje{
  text-align: center;
}
.personaje img{
  width: 500px;
  height: 300px;
}
.personaje p{
  width: 500px;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
/* ---------- contacto ---------- */
.contacto{
  margin-top: 3%;
  text-align: center;
  float: center;
}
.contacto form{
  margin-top: 3%;
}
.contacto label{
  display: block;
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 1.3rem;
  color: #fff;
}
.contacto input{
  width: 18rem;
  font-size: 1.05rem;
}
.contacto textarea{
  height: 6rem;
  width: 18rem;
  font-size: 1.05rem;
}
.contacto button{
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
}
/* ---------- footer ---------- */
footer{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a img{
  height: auto;
  width: 100%;
  max-width: 3rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* ---------- mobile ---------- */
@media screen and (max-width: 576px){
  nav{
    width: 100%;
  }
  .logo{
    display: none;
  }
  .icon{
    display: block;
    float: center;
  }
  .icon-img{
    max-width: 3rem;
  }
  ul{
    display: none;
  }
  nav.responsive ul{
    display: block;
  }
  nav.responsive #home-item{
    display: block;
  }
  nav.responsive ul li{
    display: block;
    text-align: center;
    padding: 1rem;
  }
  section{
    max-width: 576px;
    width: 90%;
  }
  p{
    padding: 2%;
  }
  article.sinopsis{
    width: 100%;
    margin-top: 3%;
  }
  aside.datos{
    width: 100%;
    margin-top: 3%;
  }
  aside.datos p{
    margin-top: 1%;
  }
  .criticas img{
    width: 350px;
  }
  .episodios .tabla{
    width: 100%;
  }
  .personaje img{
    width: 350px;
    height: 180px;
  }
  .personaje p{
    width: 350px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer img{
    height: auto;
    width: 100%;
    max-width: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
